html {
	font-family: arial, sans-serif;
	background: #f8f8fb;
	color: #888;
}

#d3-box {
	margin: 20px auto 0;
	position: relative;
	border-color: white;
	border-style: solid;
	border-width: 2px 2px 1px 1px;
}

#d3-box .node {
	border-color: white;
	border-style: solid;
	border-width: 0 0 1px 1px;
  /* border: solid 1px white; */
  font: 10px sans-serif;
  line-height: 12px;
  overflow: hidden;
  position: absolute;
  /* text-indent: 2px; */
	color: white;
	/* padding: 3px; */
	/* -moz-box-sizing: border-box; */
	/* box-sizing: border-box; */
	font-weight: bold;
	cursor: default;
}

#d3-box .node .label {
  overflow: hidden;
	text-overflow: ellipsis;
	margin: 3px;
}

#d3-box .node:hover {
	background: white !important;
	color: black !important;
}

#controls {
	margin: 10px 0;
	display: block;
	text-align: center;
}

#controls * {
	vertical-align: middle;
}

#date-range {
	width: 720px;
	margin-right: 15px;
}

#animation-toggle {
	cursor: pointer;
	margin-left: -10px;
	width: 40px;
	height: 40px;
	background: url('images/Play.png');
	display: inline-block;
}

#animation-toggle.isPause {
	background: url('images/Pause.png');
}

h3 {
	text-align: center;
}
