#d3-box {
	margin: 20px auto 0;
	position: relative;
	width: 600px;
	height: 600px;
}

#d3-box .node {
  border: solid 1px white;
  font: 10px sans-serif;
  line-height: 12px;
  overflow: hidden;
  position: absolute;
  text-indent: 2px;
}

#date-range {
	margin: 20px auto 0;
	display: block;
	width: 560px;
}

h3 {
	text-align: center;
}
